<h1 class="page-title">{{userData.firstName}}'s profile</h1>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>FirstName</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName">
        <mat-error *ngIf="profileForm.get('firstName')?.hasError('required')">First Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>LastName</mat-label>
        <input matInput placeholder="Last Name" formControlName="lastName">
        <mat-error *ngIf="profileForm.get('lastName')?.hasError('required')">Last Name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Birth Date</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="birthDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="profileForm.get('birthDate')?.hasError('required')">Birth Date is required</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>City</mat-label>
        <mat-select formControlName="city" placeholder="Select City">
            <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
        </mat-select>
        <mat-error *ngIf="profileForm.get('city')?.hasError('required')">Select a city</mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="full-width">Save</button>
</form>