@import url("./null.scss");
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.wrapper {
    padding: 30px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-title {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    padding: 20px 0;
}

.full-width {
    width: 100%;
}